@media only screen and (max-width: 1010px) {
    .navbar {
        position: relative;
    }

    .menu {
        display: none;
    }

    .logo {
        margin: 0;
        text-align: center;
    }

    .header {
        padding-top: 30px;
    }

    #h03 h1 {
        padding-top: 70px;
    }

    #h04 h1 {
        padding-top: 100px;
    }

    #servicos {
        padding-top: 700px;
    }

    .bot {
        padding-top: 70px;
    }

    .headline {
        flex: 100%;
        margin: 5%;
        text-align: center;
    }

    .headline p {
        text-align: center;
    }

    #img01 {
        display: none;
    }

    #img02 {
        display: none;
    }

    #img03 {
        display: none;
    }

    #img04 {
        display: none;
    }

    .card {
        width: 100%;
    }

    .img1 {
        display: none;
    }

    footer {
        height: 500px;
    }
}

@media only screen and (max-width: 1030px) {
    body {
        height: 100%;
    }

    .navbar {
        position: relative;
    }

    .menu {
        display: none;
    }

    .logo {
        margin: 0;
        text-align: center;
    }

    .header {
        padding-top: 30px;
    }

    section {
        position: relative;
        padding-top: 40px;
    }

    #img03 {
        display: none;
    }

    #img04 {
        display: flex;
        margin-top: 30px;
        height: 400px;
        width: 400px;
    }

}

@media only screen and (max-width: 860px) {
    body {
        height: 100%;
    }

    .navbar {
        position: relative;
    }

    .menu {
        display: none;
    }

    .logo {
        margin: 0;
        text-align: center;
    }

    .header {
        padding-top: 30px;
    }

    #h03 h1 {
        display: none;
    }

    #h04 h1 {
        display: none;
    }

    #servicos {
        display: none;
    }

    #musa {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .bot {
        display: flex;
        width: 340px;
    }

    .headline {
        flex: 100%;
        margin: 5%;
        text-align: center;
    }

    .headline p {
        text-align: center;
    }

    #h02 {
        display: none;
    }


    #h03 {
        display: none;
    }

    #h04 {
        display: none;
    }

    #img01 {
        display: none;
    }

    #img02 {
        display: none;
    }

    #img03 {
        display: none;
    }

    #img04 {
        display: none;
    }

    .card p {
        display: none;
    }

    .card {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .bot {
        position: relative;
        margin-top: -210px;
    }

    .img1 {
        display: none;
    }

    .final {
        display: none;
    }

    ctct {
        display: none;
        height: 0;
    }

    .content {
        display: none;
        height: 0;
    }

    .insd {
        display: none;
        height: 0;
    }

    footer {
        position: relative;
        margin-top: -400px;
    }
}
